@model Dashboard.Models.DashboardViewModel
@{
    ViewBag.Title = "Dash Dota";
}

<h3>Step 1: Sign in with Steam</h3>

<h3>Step 2: Download the config file</h3>

@if (!string.IsNullOrEmpty(Model.steamId))
{
    using (Html.BeginForm("DownloadConfig", "Game", new { id = Model.steamId }, FormMethod.Post, new { @target = "_Blank" }))
    {
        <button type="submit" class="btn btn-default">Download Cfg</button>
    }
}
<br />

Make sure the above file is placed in the location: <br />
\steamapps\common\dota 2 beta\game\dota\cfg\gamestate_integration\gamestate_integration_dashdota.cfg <br /><br />

Note: You may have to manually create the "gamestate_integration" folder in the above path. <br />

<h3>Step 3: Your networth will appear below</h3>
<hr />

<div id="networthWidgetArea"></div>

@section Scripts {
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/Scripts/Dashdota/Widgets/NetworthBarWidget.js")
    @Scripts.Render("~/Scripts/Dashdota/Widgets/NetworthWidget.js")
    @Scripts.Render("~/Scripts/Dashdota/NetworthScript.js")
    @Scripts.Render("~/Scripts/Dashdota/GameStateScript.js")

<script>
    GetGameStateUrl = "@Url.Action("GetGameState", "Game")";
    BaseImageDirectoryUrl = "@Url.Content("~/Content/Images/")";
    HeroImageDirectoryUrl = "@Url.Content("~/Content/Images/Heroes/")";
    ItemImageDirectoryUrl = "@Url.Content("~/Content/Images/Items/")";
    NetworthImageDirectoryUrl = "@Url.Content("~/Content/Images/Networth/")";

    var steamId = "@(Model.steamId)";

    const TimeoutLengthMs = 500;

    $.ajaxSetup({
        timeout: 10000
    });

    $(document).ready(function () {
        //Once everything else is loaded, start getting in real time information
        setTimeout(Timeout, TimeoutLengthMs);
    });

    function Timeout() {
        GetGameState(steamId, GetGameStateUrl);
    }
</script>
}

