@model Dashboard.Models.DashboardViewModel
@{
    ViewBag.Title = "Dash Dota";
}

<h3>1. Sign in with Steam</h3>

@if (Model.DeveloperView)
{
    <p>Enter steam Id (developer only):</p>
    <div>
        <form id="form" onsubmit="return false;">
            <input type="text" id="userInput" />
            <input type="submit" onclick="SetSteamId();" />
        </form>
    </div> <br />

    <script>
        function SetSteamId() {
            steamId = document.getElementById("userInput").value;
            alert("Steam Id has been changed to: " + steamId);
        }
    </script>
}

<h3>2. Download the config file</h3>

@if (!string.IsNullOrEmpty(Model.SteamId))
{
    using (Html.BeginForm("DownloadConfig", "Game", new { id = Model.SteamId }, FormMethod.Post, new { @target = "_Blank" }))
    {
        <button type="submit" class="btn btn-default">Download</button>
    }
}
<br />

<p>
    Make sure the above file is placed in the location: <br />
    \steamapps\common\dota 2 beta\game\dota\cfg\gamestate_integration\gamestate_integration_dashdota.cfg <br /><br />

    Note: You may have to manually create the "gamestate_integration" folder in the above path. <br />
</p>

<h3>3. Your Networth and Exp will appear below</h3>
<hr />

<div id="networthWidgetArea"></div>

@section Scripts {
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/Scripts/Dashdota/Widgets/AlertWidget.js")
    @Scripts.Render("~/Scripts/Dashdota/Widgets/NetworthBarWidget.js")
    @Scripts.Render("~/Scripts/Dashdota/Widgets/NetworthWidget.js")
    @Scripts.Render("~/Scripts/Dashdota/NetworthScript.js")
    @Scripts.Render("~/Scripts/Dashdota/GameStateScript.js")

<script>
    GetGameStateUrl = "@Url.Action("GetGameState", "Game")";
    BaseImageDirectoryUrl = "@Url.Content("~/Content/Images/")";
    HeroImageDirectoryUrl = "@Url.Content("~/Content/Images/Heroes/")";
    ItemImageDirectoryUrl = "@Url.Content("~/Content/Images/Items/")";
    AlertImageDirectoryUrl = "@Url.Content("~/Content/Images/Alerts/")";
    NetworthImageDirectoryUrl = "@Url.Content("~/Content/Images/Networth/")";

    var steamId = "@(Model.SteamId)";

    const TimeoutLengthMs = 500;

    $.ajaxSetup({
        timeout: 10000
    });

    $(document).ready(function () {
        //Once everything else is loaded, start getting in real time information
        setTimeout(Timeout, TimeoutLengthMs);
    });

    function Timeout() {
        GetGameState(steamId, GetGameStateUrl);
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
}

