<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type = 'text/javascript' >
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'626d22be-c8a4-4431-9a4d-a5825a991186'
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>

    <style>
        #networthWidgetArea {
            flex-grow: 1;
            padding: 10px 10px 10px 10px;
        }
        .networthWidget {
            margin: 0px;
            padding-bottom: 76px;
            overflow-x:hidden;
        }
        .levelNumberBox {
            font-family: Impact;
            font-size: 18px;
            color: white;
            position: absolute;
            width: 24px;
            height: 24px;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            color: whitesmoke;
            text-align: center;
        }
        .networthNumberBox {
            font-family: Arial;
            font-size: 35px;
            font-weight: bold;
            text-shadow: 4px 4px 6px black;
            color: gold;
            width: 97px;
            height: 35px;
            border: 0px;
            text-align: left;
        }
        .nameTextBox {
            font-family: Arial;
            font-size: 13px;
            color: white;
            position: absolute;
            width: 120px;
            height: 20px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: center;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }
        .smallLabelBox {
            font-family: Arial;
            color: dimgrey;
            font-size: 13px;
            position: absolute;
        }
        .smallNumberBox {
            font-family: Arial;
            font-weight: bold;
            color: darkslategrey;
            font-size: 13px;
            position: absolute;
        }
        img.itemSlot {
            width: 52px;
            height: 40px;
            border-radius: 2px;
            opacity: 0.4;
            z-index: 0;
        }
        .networthBar {

        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Dash Dota (Alpha)", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Help", "About", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Good Goy Agency</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
