<style>
    .navbar-login {
        padding-top: 14px;
        outline: none;
    }
</style>

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>
                <img src="@ViewBag.AvatarUrl" height="50" width="50"/>
            </li>
            <li>
                <a href="@ViewBag.ProfileUrl">@ViewBag.NickName</a>
                @*@Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @using (Html.BeginForm("ExternalLogin", "Account", new { Provider = "Steam", ReturnUrl = "/" }))
            {
                @Html.AntiForgeryToken()
                <input type="image" class="navbar-login" src="/Content/Images/sign_in_through_steam.png" />
            }
        </li>
    </ul>
}

